@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.Josefin {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}

.alert {
    margin: 1em 10em;
    padding: 0.5em 1em;
    background-color: #f44336;
    color: white;
    border-radius: 50px;
}
